<div class="header">
  <h2 i18n>Fees</h2>
  <a type="button" mat-raised-button color="primary" routerLink="new" i18n>New</a>
</div>

<table mat-table [dataSource]="fees" [trackBy]="trackByFn">
  <ng-container matColumnDef="period">
    <th mat-header-cell *matHeaderCellDef i18n>Period</th>
    <td mat-cell *matCellDef="let fee">{{fee.startAt | date}} - {{fee.endAt | date}}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef i18n>Type</th>
    <td mat-cell *matCellDef="let fee">
      <app-fee-type-label [type]="fee.type"></app-fee-type-label>
    </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef i18n>Quantity</th>
    <td mat-cell *matCellDef="let fee">{{fee.quantity }} {{fee.unit}}</td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let fee">{{fee.value | number : '1.2-2'  }}</td>
  </ng-container>

  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef>Rate</th>
    <td mat-cell *matCellDef="let fee">{{fee | feeRate}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let fee" class="actions">
      <a type="button" mat-button [routerLink]="[fee.id]">Edit</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
