:host {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.chart-card {
  flex: 1;
  min-width: 0;
  height: calc(100vh - 128px);
}

.data-card {
  flex: 1;
  min-width: 0;
  height: calc(100vh - 128px);
  overflow: auto;
}

:host-context(.small-screen) .data-card {
  width: 100%;
  overflow: visible;
  height: auto;
  flex: auto;
}

.chart-empty-message {
  opacity: 0.3;
  display: flex;
  height: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chart-empty-message .mat-icon {
  font-size: 64px;
  height: 64px;
  width: 64px;
}
