:host {
  display: block;

  &,
  canvas,
  .mat-tab-group,
  .chart-container,
  ::ng-deep .mat-tab-body-wrapper
  {
    height: 100%;
  }

  ::ng-deep .mat-tab-header {
    margin-bottom: 1rem;
  }

  .mat-tab-group.single-tab ::ng-deep .mat-tab-header {
    display: none;
  }

  .chart-container {
    position: relative;
  }

  .legend-tooltip {
    display: none;
    padding: .25rem;
    color: #ffffff;
    font-size: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: .25rem;
    position: absolute;
    top: 0;
    left: 0;
  }
}
