<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav mode="side" position="end" (click)="sidenav.toggle()">
    <app-houses-menu></app-houses-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span i18n>House Fees</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
