<h2 *ngIf="feeId; else newFeeHeadline" i18n>Edit Fee</h2>
<ng-template #newFeeHeadline><h2 i18n>New Fee</h2></ng-template>

<form [formGroup]="form" (ngSubmit)="save()">
  <div class="fields">
    <mat-form-field>
      <mat-label i18n>Start</mat-label>
      <input matInput [matDatepicker]="startPicker" [formControl]="form.get('startAt') | asFormControl">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>End</mat-label>
      <input matInput [matDatepicker]="endPicker" [formControl]="form.get('endAt') | asFormControl">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>Type</mat-label>
      <mat-select  [formControl]="form.get('type') | asFormControl">
        <mat-option *ngFor="let option of feeTypeOptions" [value]="option.value">{{option.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>Value</mat-label>
      <input type="number" matInput [formControl]="form.get('value') | asFormControl">
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>Quantity</mat-label>
      <input type="number" matInput [formControl]="form.get('quantity') | asFormControl">
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>Unit</mat-label>
      <input type="text" matInput [formControl]="form.get('unit') | asFormControl">
    </mat-form-field>
  </div>

  <div class="actions">
    <div>
      <button type="button" mat-raised-button *ngIf="feeId" (click)="remove()" color="warn" i18n>Delete</button>
    </div>

    <div class="form-actions">
      <button type="button" mat-button (click)="cancel()" i18n>Cancel</button>
      <button type="submit" mat-raised-button color="primary" i18n>Save</button>
    </div>
  </div>
</form>

<ng-template #removeConfirmMessage let-snackbar="snackBarRef">
  <div class="remove-confirmation">
    <span i18n>Are you sure?</span>
    <div>
      <button mat-button (click)="snackbar.dismiss()" i18n>Cancel</button>
      <button mat-raised-button color="primary" (click)="snackbar.dismissWithAction()" i18n>Confirm</button>
    </div>
  </div>
</ng-template>
