.mat-table {
  width: 100%;
}

.header {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

.actions {
  text-align: right;
}

.fee-type {
  padding-right: 12px;
}
