<div class="header">
  <h2 class="header-title">{{house | async | houseName}}</h2>
  <button mat-icon-button routerLink="edit">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button (click)="sync()">
    <mat-icon>sync</mat-icon>
  </button>
  <a mat-icon-button [routerLink]="['../manage', houseUuid]">
    <mat-icon>share</mat-icon>
  </a>
  <span class="spacer"></span>
  <a type="button" mat-raised-button color="primary" routerLink="new" i18n>New Fee</a>
</div>

<table mat-table *ngIf="fees | async as fees" [dataSource]="fees" [trackBy]="trackByFn">
  <ng-container matColumnDef="period">
    <th mat-header-cell *matHeaderCellDef i18n>Period</th>
    <td mat-cell *matCellDef="let fee">{{fee.startAt | date }} - {{fee.endAt | date }}</td>
  </ng-container>

  <ng-container matColumnDef="periodSmall">
    <th mat-header-cell *matHeaderCellDef i18n>Period</th>
    <td mat-cell *matCellDef="let fee">{{fee.startAt | date: 'shortDate'}}<br>{{fee.endAt | date: 'shortDate'}}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef i18n>Type</th>
    <td mat-cell *matCellDef="let fee" class="fee-type">
      <app-fee-type-label [type]="fee.type"></app-fee-type-label>
    </td>
  </ng-container>

  <ng-container matColumnDef="typeSmall">
    <th mat-header-cell *matHeaderCellDef i18n>Type</th>
    <td mat-cell *matCellDef="let fee" class="fee-type">
      <app-fee-type-label [type]="fee.type" [size]="feeTypeLabelSize | async"></app-fee-type-label>
    </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef i18n>Quantity</th>
    <td mat-cell *matCellDef="let fee">{{fee.quantity | number : '1.0-2' }} {{fee.unit}}</td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef i18n>Value</th>
    <td mat-cell *matCellDef="let fee">{{fee.value | number : '1.2-2'  }}</td>
  </ng-container>

  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef i18n>Rate</th>
    <td mat-cell *matCellDef="let fee">{{fee | feeRate}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let fee" class="actions">
      <a type="button" mat-icon-button [routerLink]="[fee.uuid]">
        <mat-icon>edit</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns | async"></tr>
  <tr mat-row *matRowDef="let row; columns: columns | async;"></tr>
  <tr *matNoDataRow class="mat-row">
    <td class="mat-cell" [colSpan]="columnsCount | async" i18n>
      No fees found
    </td>
  </tr>
  <ng-template matNoDataRow></ng-template>
</table>
